.sobre-nos{
    text-align: center;
    padding: 8rem 0px;
}

.sobre__sub-titulo{
    font-weight: 600;
    color: var(--cor3);
}

.sobre__titulo{
    font-weight: 600;
    font-size: 3rem;
    color: var(--cor2);
    padding: 1rem 0 2rem;
}

.sobre__texto{
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin: auto;
    color: var(--text-color);
    max-width: 49.438rem;
}